.crop-slider .item {
  text-align: center;
  padding: 10px;
}

.crop-slider .item-img {
  margin: 0 auto;
  overflow: hidden;
}

.crop-slider .item-text {
  margin-top: 10px;
  margin-right:40px;
  font-size: 16px;
  font-weight: bold;
  color:white;
}
